/* Exercise 01 */
main {
    background-color: antiquewhite;
    height: 100vh;
}

@media (min-width: 800px) and (max-width: 1200px) {
    main {
        background-color: rgb(164, 212, 227);
    }
}

/* Exercise 02 */

h1 {
    font-size: 30px;
    height: 32px;
    text-align: center;
}

p {
    font-size: 20px;
    height: 22px;
    text-align: center;
    position: fixed;
}

.ex02 {
    height: 250px;
    background-color: rgb(223, 79, 60);
    border: 2px solid gold;
    margin: 10px 20px 10px 20px;
    padding: 10px 25px 10px 25px;
}
